.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-cars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 20px;

    padding: 50px;
} 

.home .display-cars .car-card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.247);
}

.car-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 280px;
    text-align: justify;
}

.car-card img{
    height: 150px;
    max-height: 150px;
    width: 100%;
    border-radius: 20px;
}

.car-card .title{
    font-weight: bold;
    font-size: 1.25em;
}

.car-card .price{
    font-size: 1.25em;
    font-weight: bold;

    margin: 15px auto;

}

.car-card ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    
}

.car-card ul li::first-letter{
    text-transform: uppercase;
}

.car-card ul li a{
    text-transform: uppercase;
}