.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    height: 200px;

    padding-top: 20px;

    border-top: 1px solid #000;
}

.links_list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3em;
}

.links_list li{
    font-size: 1.5em;
}

.links_list li:hover{
    color: #4b494975;
    transform: scale(1.1);
}