*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Courier New', Courier, monospace;
}

a,
nav button{
  text-decoration: none;

  background-color: transparent;
  color: #000;

  border: none;
  transition: .4s;

  cursor: pointer;
}


a:hover,
nav button:hover{
  color: #BBB;

}
